.transaction {
  padding: 2rem;
  position: relative;
}
select {
  outline: none;
  border: none;
  box-shadow: var(--secondary-boxshadow);
  padding: 0.8rem 0.8rem;
  border-radius: var(--secondary-border-radius);
  font-size: 1.6rem;
}
.transaction__heading {
  font-size: 2.4rem;
}

.transaction__summary {
  margin-top: 2rem;
  box-shadow: var(--primary-boxshadow);
  border-radius: var(--primary-border-radius);
  padding: 2rem;
  line-height: 1.6;
  max-height: 52rem;
  overflow: hidden;
}
.transaction__details-scroll {
  overflow-y: scroll;
  max-height: 39rem;
}
.transaction__menu {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.8rem;
}
.transaction__currency,
.transaction__menu-view,
.money__inout {
  display: flex;
  align-items: center;
}
.transaction__currency {
  box-shadow: var(--secondary-boxshadow);
  padding: 0.8rem 1.6rem;
  gap: 0.8rem;
  border-radius: var(--secondary-border-radius);
  font-size: 2rem;
}
.transaction__currency p {
  color: var(--color-green);
  font-weight: 500;
}

.transaction__menu-view {
  gap: 0.8rem;
}

.transaction__title,
.transaction__details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  font-size: 1.6rem;
  margin-top: 2.4rem;
}
.transaction__title {
  font-weight: 500;
  background-color: var(--primary-background-color);
  border-radius: var(--secondary-border-radius);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(204, 228, 234, 1) 100%
  );
  padding: 0.5rem 0;
  font-size: 1.8rem;
}

.money__inout {
  gap: 0.4rem;
}
.money__inout-dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
.color__dot-green {
  background: var(--color-green);
}
.color__dot-red {
  background: var(--color-red);
}
select:hover {
  background-color: var(--primary-background-color);
  color: var(--primary-color);
  cursor: pointer;
}
